#txtProductName {
    -fx-font-family: "SriBhashitha";
    -fx-font-size: 15;
}

#tcProductName {
    -fx-font-family: "SriBhashitha";
    -fx-font-size: 12;
}

#tcGrnItems {
    -fx-font-size: 12;
}

#lvProductName {
    -fx-font-family: "SriBhashitha";
    -fx-font-size: 13;
}

#dpDate {
    -fx-font-size: 12;
}

#dpTime {
    -fx-font-size: 12;
}

#tblPayment {
    -fx-font-size: 12;
}

#tblProducts {
    -fx-font-size: 12;
}

#cmbPaymentType {
    -fx-font-size: 12;
}

#cmbCategory {
    -fx-font-size: 12;
}

#lvSupplierName {
    -fx-font-size: 13;
}

#tcTextAlignment {
    -fx-alignment: CENTER-RIGHT;
}